## Unidade 2 - Trabalho 1
### Alunos: Ailson Forte dos Santos e Ana Paula
#### Criar gráficos Z-Score com a probabilidade da área em verde similar a figura ao lado e relacionado com as notas da primeira, segunda, terceira unidades e média final das disciplinas:
- FMC I, FMC II e Probabilidade do BTI
- Para testes, escolha as notas 5.0, 7.0 e 9.0
- Utilizar os dados disponibilizados em "dados.ufrn.br"

In [1]:
## Importando o necessário
import pandas as pd

## Definindo URLs necessárias
componentes_url = 'http://bit.do/componentes-curriculares'
turmas_url = [('http://bit.do/turmas_20' + str(13+i) + '_1') for i in range(5)]
turmas_url = turmas_url + [('http://bit.do/turmas_20' + str(13+i) + '_2') for i in range(5)]
mat_comp_url = [('http://bit.do/mat_comp_20' + str(13+i) + '_1') for i in range(5)]
mat_comp_url = mat_comp_url + [('http://bit.do/mat_comp_20' + str(13+i) + '_2') for i in range(5)]
turmas_periodo = [('20' + str(13+i) + '.1') for i in range(5)]
turmas_periodo = turmas_periodo + [('20' + str(13+i) + '.2') for i in range(5)]

In [2]:
componentes = pd.read_csv(componentes_url,';')

In [3]:
## Filtrando apenas o componente BTI
bti = componentes[componentes['nome'] == 'TECNOLOGIA DA INFORMAÇÃO']
bti

,id_curso,nome,id_coordenador,coordenador,situacao_curso,nivel_ensino,grau_academico,modalidade_educacao,area_conhecimento,tipo_oferta,...,municipio,campus,id_unidade_responsavel,unidade_responsavel,website,data_funcionamento,codigo_inep,dou,portaria_reconhecimento,convenio_academico
962,92127264,TECNOLOGIA DA INFORMAÇÃO,5756802.0,GUSTAVO GIRAO BARRETO DA SILVA,ATIVO,GRADUAÇÃO,BACHARELADO,Presencial,Ciências Exatas e da Terra,Regular,...,NATAL,NaN,6069,INSTITUTO METROPOLE DIGITAL,NaN,NaN,1190414.0,2016-05-02,Portaria nº 127/2016 - MEC,NaN

In [4]:
## Fazendo Download dos CSVs das turmas
turmas_dfs = []
for url in turmas_url:
    print(url)
    turmas_dfs.append(pd.read_csv(url,';'))

http://bit.do/turmas_2013_1
http://bit.do/turmas_2014_1
http://bit.do/turmas_2015_1
http://bit.do/turmas_2016_1
http://bit.do/turmas_2017_1
http://bit.do/turmas_2013_2
http://bit.do/turmas_2014_2
http://bit.do/turmas_2015_2
http://bit.do/turmas_2016_2
http://bit.do/turmas_2017_2

In [ ]:
## Fazendo a concatenação para trabalhar apenas com um DataFrame
turmas_df = pd.concat(turmas_dfs, keys=turmas_periodo)
turmas_df.head()

         id_turma codigo_turma id_docente_interno  id_docente_externo  \
2013.1 0  1196178           01        3.02895e+06                 NaN
       1  1196210          T01                NaN           2264968.0
       2  1196211          T02                NaN          92721509.0
       3  1196212          T03                NaN          98388697.0
       4  1196213          T04                NaN          98388762.0

         observacao  id_componente_curricular nivel_ensino campus_turma  \
2013.1 0        NaN                   50280.0   LATO SENSU          NaN
       1        NaN                   52540.0      TÉCNICO          NaN
       2        NaN                   52540.0      TÉCNICO          NaN
       3        NaN                   52540.0      TÉCNICO          NaN
       4        NaN                   52540.0      TÉCNICO          NaN

                                local   ano     ...         tipo distancia  \
2013.1 0  Campus Universitário - Svf5  2013     ...      REGULAR         f
       1                          4F5  2013     ...      REGULAR         f
       2                          4C6  2013     ...      REGULAR         f
       3                          4F5  2013     ...      REGULAR         f
       4                          4C6  2013     ...      REGULAR         f

                data_consolidacao agrupadora id_turma_agrupadora  \
2013.1 0  2013-06-19 10:39:05.948          f                 NaN
       1  2013-07-04 00:39:55.613          f                 NaN
       2  2013-07-04 14:54:29.232          f                 NaN
       3  2013-07-05 01:10:34.746          f                 NaN
       4  2013-07-04 15:55:08.455          f                 NaN

         qtd_aulas_lancadas situacao_turma convenio modalidade_participantes  \
2013.1 0                NaN    CONSOLIDADA      NaN               Presencial
       1                NaN    CONSOLIDADA      NaN               Presencial
       2                NaN    CONSOLIDADA      NaN               Presencial
       3                NaN    CONSOLIDADA      NaN               Presencial
       4                NaN    CONSOLIDADA      NaN               Presencial

         Unnamed: 25
2013.1 0         NaN
       1         NaN
       2         NaN
       3         NaN
       4         NaN

[5 rows x 26 columns]

In [ ]:
## Fazendo Download dos CSVs das matriculas em componente curricular
mat_comp_dfs = []
for url in mat_comp_url:
    print(url)
    mat_comp_dfs.append(pd.read_csv(url,';'))

http://bit.do/mat_comp_2013_1
http://bit.do/mat_comp_2014_1

In [ ]:
## Fazendo a concatenação para trabalhar com apenas um DataFrame
mat_comp_df = pd.concat(mat_comp_dfs, keys=turmas_periodo)
mat_comp_df.head()