## Unidade 2 - Trabalho 1
### Alunos: Ailson Forte dos Santos e Ana Paula

In [47]:
## Importando o necessário
import pandas as pd
import numpy as np
import scipy.stats as stats
import matplotlib.pyplot as plt
import bokeh as bk

## Definindo URLs necessárias
cursos_url = 'http://bit.do/componentes-curriculares'
componentes_disc_url = 'http://bit.ly/2yIvZLs' #'http://bit.do/componentes_curriculares_presenciais'
turmas_url = [('http://bit.do/turmas_20' + str(13+i) + '_1') for i in range(5)]
turmas_url = turmas_url + [('http://bit.do/turmas_20' + str(13+i) + '_2') for i in range(5)]
mat_comp_url = [('http://bit.do/mat_comp_20' + str(13+i) + '_1') for i in range(5)]
mat_comp_url = mat_comp_url + [('http://bit.do/mat_comp_20' + str(13+i) + '_2') for i in range(5)]
turmas_periodo = [('20' + str(13+i) + '.1') for i in range(5)]
turmas_periodo = turmas_periodo + [('20' + str(13+i) + '.2') for i in range(5)]

In [2]:
componentes_df = pd.read_csv(cursos_url,';')

In [3]:
disciplinas_df = pd.read_csv(componentes_disc_url,';')

In [4]:
## Fazendo Download dos CSVs das turmas
turmas_dfs = []
for url in turmas_url:
    print(url)
    turmas_dfs.append(pd.read_csv(url,';'))

http://bit.do/turmas_2013_1
http://bit.do/turmas_2014_1
http://bit.do/turmas_2015_1
http://bit.do/turmas_2016_1
http://bit.do/turmas_2017_1
http://bit.do/turmas_2013_2
http://bit.do/turmas_2014_2
http://bit.do/turmas_2015_2
http://bit.do/turmas_2016_2
http://bit.do/turmas_2017_2

In [5]:
## Fazendo Download dos CSVs das matriculas em componente curricular
mat_comp_dfs = []
for url in mat_comp_url:
    print(url)
    mat_comp_dfs.append(pd.read_csv(url,';'))

http://bit.do/mat_comp_2013_1
http://bit.do/mat_comp_2014_1
http://bit.do/mat_comp_2015_1
http://bit.do/mat_comp_2016_1
http://bit.do/mat_comp_2017_1
http://bit.do/mat_comp_2013_2
http://bit.do/mat_comp_2014_2
http://bit.do/mat_comp_2015_2
http://bit.do/mat_comp_2016_2
http://bit.do/mat_comp_2017_2

In [6]:
## Filtrando apenas o componente BTI
bti = componentes_df[componentes_df['nome'] == 'TECNOLOGIA DA INFORMAÇÃO']
bti.reset_index(drop='index',inplace=True)
bti.head()

,id_curso,nome,id_coordenador,coordenador,situacao_curso,nivel_ensino,grau_academico,modalidade_educacao,area_conhecimento,tipo_oferta,...,municipio,campus,id_unidade_responsavel,unidade_responsavel,website,data_funcionamento,codigo_inep,dou,portaria_reconhecimento,convenio_academico
0,92127264,TECNOLOGIA DA INFORMAÇÃO,5756802.0,GUSTAVO GIRAO BARRETO DA SILVA,ATIVO,GRADUAÇÃO,BACHARELADO,Presencial,Ciências Exatas e da Terra,Regular,...,NATAL,NaN,6069,INSTITUTO METROPOLE DIGITAL,NaN,NaN,1190414.0,2016-05-02,Portaria nº 127/2016 - MEC,NaN

In [7]:
print(disciplinas_df.columns)
disciplinas_df.head()

Index(['id_componente', 'tipo_componente', 'codigo', 'nivel', 'nome',
       'unidade_responsavel', 'ch_teorico', 'ch_pratico', 'ch_estagio',
       'ch_total', 'ch_dedicada_docente', 'ch_ead', 'cr_max_ead',
       'permite_horario_flexivel', 'qtd_unidades', 'procedimentos_avaliacao',
       'equivalencia', 'pre_requisito', 'co_requisito', 'ementa',
       'bibliografia', 'objetivos', 'conteudo', 'competencias_habilidades',
       'referencias', 'ano_programa', 'periodo_programa', 'modalidade',
       'curso_componente'],
      dtype='object')

,id_componente,tipo_componente,codigo,nivel,nome,unidade_responsavel,ch_teorico,ch_pratico,ch_estagio,ch_total,...,ementa,bibliografia,objetivos,conteudo,competencias_habilidades,referencias,ano_programa,periodo_programa,modalidade,curso_componente
0,18642,DISCIPLINA,MUT721,T,LABORATÓRIOS ELETIVOS,ESCOLA DE MÚSICA,60,0,0,60,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Presencial,NaN
1,18643,DISCIPLINA,MUT508,T,COMPOSIÇÃO EM MÚSICA POPULAR III,ESCOLA DE MÚSICA,60,0,0,60,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Presencial,NaN
2,18644,DISCIPLINA,MUT516,T,CO-REPETIÇÃO,ESCOLA DE MÚSICA,30,0,0,30,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Presencial,NaN
3,18645,DISCIPLINA,MUT520,T,CONTRABAIXO ACÚSTICO I,ESCOLA DE MÚSICA,30,0,0,30,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Presencial,NaN
4,18646,DISCIPLINA,MUT165,T,PIANO COMPLEMENTAR I,ESCOLA DE MÚSICA,15,0,0,15,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Presencial,NaN

In [8]:
disc_cols = ['id_componente', 'tipo_componente', 'codigo', 'nivel', 'nome',
             'ch_total', 'ano_programa', 'periodo_programa', 'modalidade', 'curso_componente']
disciplinas = disciplinas_df[disc_cols]
disciplinas_bti = disciplinas[disciplinas['curso_componente'] == 'TECNOLOGIA DA INFORMAÇÃO']
disciplinas_bti.reset_index(inplace=True,drop='index')
disciplinas_bti.head()

,id_componente,tipo_componente,codigo,nivel,nome,ch_total,ano_programa,periodo_programa,modalidade,curso_componente
0,52535,MODULO,IMD0015,G,TECNOLOGIA DA INFORMAÇÃO E SOCIEDADE,30,2013.0,1.0,Presencial,TECNOLOGIA DA INFORMAÇÃO
1,52536,BLOCO,IMD0011,G,CIRCUITOS LÓGICOS,90,NaN,NaN,Presencial,TECNOLOGIA DA INFORMAÇÃO
2,52650,BLOCO,IMD0012,G,INTRODUÇÃO ÀS TÉCNICAS DE PROGRAMAÇÃO,90,NaN,NaN,Presencial,TECNOLOGIA DA INFORMAÇÃO
3,52653,MODULO,IMD0013,G,ELEMENTOS DE MATEMÁTICA PARA COMPUTAÇÃO,90,2013.0,1.0,Presencial,TECNOLOGIA DA INFORMAÇÃO
4,52656,MODULO,IMD0014,G,INTRODUÇÃO AO CÁLCULO,60,2013.0,1.0,Presencial,TECNOLOGIA DA INFORMAÇÃO

In [9]:
## Fazendo a concatenação para trabalhar apenas com um DataFrame
turmas_df = pd.concat(turmas_dfs, keys=turmas_periodo)
## Filtrando o DataFrame para otimizar as buscas
turmas_df = turmas_df[turmas_df['nivel_ensino'] == 'GRADUAÇÃO']
turmas_df = turmas_df[turmas_df['modalidade_participantes'] == 'Presencial']
turmas_df = turmas_df[turmas_df['campus_turma'] == 'Campus Central']
turmas_df.reset_index(inplace=True,level=0)
turmas_df.reset_index(inplace=True,drop='index')
turmas_df['ano_periodo'] = turmas_df.level_0
print(turmas_df.columns)

Index(['level_0', 'id_turma', 'codigo_turma', 'id_docente_interno',
       'id_docente_externo', 'observacao', 'id_componente_curricular',
       'nivel_ensino', 'campus_turma', 'local', 'ano', 'periodo',
       'data_inicio', 'data_fim', 'descricao_horario', 'total_solicitacoes',
       'capacidade_aluno', 'tipo', 'distancia', 'data_consolidacao',
       'agrupadora', 'id_turma_agrupadora', 'qtd_aulas_lancadas',
       'situacao_turma', 'convenio', 'modalidade_participantes', 'Unnamed: 25',
       'ano_periodo'],
      dtype='object')

In [10]:
colunas_turma = ['id_turma', 'codigo_turma', 'id_docente_interno', 'id_docente_externo', 'id_componente_curricular',
                 'ano_periodo', 'descricao_horario', 'tipo', 'situacao_turma']
turmas_df = turmas_df[colunas_turma]
turmas_df.reset_index(inplace=True,drop='index')
turmas_df.head()

,id_turma,codigo_turma,id_docente_interno,id_docente_externo,id_componente_curricular,ano_periodo,descricao_horario,tipo,situacao_turma
0,1196784,01,26322,NaN,46397.0,2013.1,5T3456,REGULAR,CONSOLIDADA
1,1196812,01,5.75559e+06,NaN,25562.0,2013.1,5M456,REGULAR,CONSOLIDADA
2,1196813,02,5.75428e+06,NaN,25562.0,2013.1,3T123,REGULAR,CONSOLIDADA
3,1196813,02,5.75405e+06,NaN,25562.0,2013.1,3T123,REGULAR,CONSOLIDADA
4,1196814,03,5.75509e+06,NaN,25562.0,2013.1,6T123,REGULAR,CONSOLIDADA

In [11]:
## Fazendo a concatenação para trabalhar com apenas um DataFrame
mat_comp_df = pd.concat(mat_comp_dfs, keys=turmas_periodo)
mat_comp_df.reset_index(inplace=True,level=0)
mat_comp_df.reset_index(inplace=True,drop='index')
mat_comp_df['ano_periodo'] = mat_comp_df.level_0
print(mat_comp_df.columns)

Index(['level_0', 'Unnamed: 10', 'descricao', 'discente', 'faltas_unidade',
       'id_curso', 'id_turma', 'media_final', 'nota', 'numero_total_faltas',
       'reposicao', 'unidade', 'ano_periodo'],
      dtype='object')

In [12]:
## Filtrando pelo id do bti
mat_comp_bti = mat_comp_df[mat_comp_df['id_curso'] == bti['id_curso'][0]]
## Limpando DataFrame
colunas_mat_comp_bti = ['id_turma', 'descricao', 'discente', 'media_final',
                        'nota', 'reposicao', 'unidade', 'ano_periodo']
mat_comp_bti = mat_comp_bti[colunas_mat_comp_bti]
mat_comp_bti.reset_index(inplace=True,drop='index')
mat_comp_bti.head()

,id_turma,descricao,discente,media_final,nota,reposicao,unidade,ano_periodo
0,1203381,TRANCADO,da437177e090ab90ea33ba772cfbae03,NaN,2.6,f,1.0,2013.1
1,1203381,TRANCADO,da437177e090ab90ea33ba772cfbae03,NaN,NaN,f,2.0,2013.1
2,1203381,TRANCADO,da437177e090ab90ea33ba772cfbae03,NaN,NaN,f,3.0,2013.1
3,1203381,APROVADO,59d9aee9a3b15f0b735e28fe4a692a8e,7.0,7.1,f,1.0,2013.1
4,1203381,APROVADO,59d9aee9a3b15f0b735e28fe4a692a8e,7.0,6.0,f,2.0,2013.1

### Criar gráficos Z-Score com a probabilidade da área em verde similar a figura ao lado e relacionado com as notas da primeira, segunda, terceira unidades e média final das disciplinas:
- FMC I, FMC II e Probabilidade do BTI
- Para testes, escolha as notas 5.0, 7.0 e 9.0
- Utilizar os dados disponibilizados em "dados.ufrn.br"

In [13]:
## Filtrando a disciplina probabilidade, segue a resolução
probabilidade = disciplinas_bti[disciplinas_bti['nome'].str.contains('PROBABILIDADE')]
probabilidade

,id_componente,tipo_componente,codigo,nivel,nome,ch_total,ano_programa,periodo_programa,modalidade,curso_componente
10,52664,MODULO,IMD0033,G,PROBABILIDADE,60,2013.0,2.0,Presencial,TECNOLOGIA DA INFORMAÇÃO

In [14]:
## Capturando as turmas de probabilidade para conseguir seus códigos
turmas_probabilidade = []
for cod in probabilidade['id_componente'].unique():
    turmas_probabilidade.append(turmas_df[turmas_df['id_componente_curricular'] == cod])
turmas_probabilidade = pd.concat(turmas_probabilidade, keys=probabilidade['id_componente'].unique())
turmas_probabilidade.reset_index(inplace=True,level=0)
turmas_probabilidade.reset_index(inplace=True,drop='index')

In [39]:
alunos_probabilidade = []
for cod in turmas_probabilidade['id_turma'].unique():
    alunos_probabilidade.append(mat_comp_bti[mat_comp_bti['id_turma'] == np.int64(cod)])
alunos_probabilidade = pd.concat(alunos_probabilidade, keys=turmas_probabilidade['id_turma'].unique())
alunos_probabilidade.reset_index(inplace=True,level=0)
alunos_probabilidade.reset_index(inplace=True,drop='index')
alunos_probabilidade.head(2)

,level_0,id_turma,descricao,discente,media_final,nota,reposicao,unidade,ano_periodo
0,1239412,1239412,APROVADO POR NOTA,da437177e090ab90ea33ba772cfbae03,5.9,7.3,f,1.0,2015.1
1,1239412,1239412,APROVADO POR NOTA,da437177e090ab90ea33ba772cfbae03,5.9,5.4,f,2.0,2015.1

In [46]:
medias = {}
std_dev = {}
medias_df = []
std_dev_df = []
for semestre in alunos_probabilidade['ano_periodo'].unique():
    semestre_df = alunos_probabilidade[alunos_probabilidade['ano_periodo'] == semestre]
    unidade1 = semestre_df[semestre_df['unidade'] == 1.0]
    unidade2 = semestre_df[semestre_df['unidade'] == 2.0]
    unidade3 = semestre_df[semestre_df['unidade'] == 3.0]
    media = {'media_geral' : np.mean(semestre_df['media_final']),
             'media_unidade1' : np.mean(unidade1['nota']),
             'media_unidade2' : np.mean(unidade2['nota']),
             'media_unidade3' : np.mean(unidade3['nota'])}
    std = {'desvio_padrao' : np.std(semestre_df['media_final']),
           'desvio_padrao_u1' : np.std(unidade1['nota']),
           'desvio_padrao_u2' : np.std(unidade2['nota']),
           'desvio_padrao_u3' : np.std(unidade3['nota'])}
    medias[semestre] = pd.DataFrame.from_dict(media,orient='index')
    std_dev[semestre] = pd.DataFrame.from_dict(std,orient='index')
    medias[semestre].rename(columns={0:semestre},inplace=True)
    std_dev[semestre].rename(columns={0:semestre},inplace=True)
    medias[semestre] = pd.DataFrame.transpose(medias[semestre]);
    std_dev[semestre] = pd.DataFrame.transpose(std_dev[semestre]);
    medias_df.append(medias[semestre])
    std_dev_df.append(std_dev[semestre])

medias_df = pd.concat(medias_df)
# medias_df.rename(columns={0:'media'},inplace=True)
# std_dev_df = pd.merge(std_dev,direction='r')
std_dev_df = pd.concat(std_dev_df)
# std_dev_df.rename(columns={0:'std_deviation'},inplace=True)
medias_prob_df = pd.concat([medias_df,std_dev_df],axis=1)
medias_prob_df = medias_prob_df.dropna()
medias_prob_df

,media_geral,media_unidade1,media_unidade2,media_unidade3,desvio_padrao,desvio_padrao_u1,desvio_padrao_u2,desvio_padrao_u3
2015.1,5.552500,5.121951,6.065000,4.395000,1.870827,2.220472,2.846889,2.396555
2016.1,4.212329,3.405333,4.326027,3.275342,2.753078,2.343723,3.268866,3.022871
2017.1,4.363636,4.738596,3.881481,4.022222,2.452187,2.905274,2.791128,3.033496
2014.2,4.870588,6.005882,5.017647,3.135294,2.557058,2.476352,3.393807,2.820918
2015.2,4.025926,3.822222,4.155556,3.177778,2.626023,2.372268,3.019852,3.085610
2016.2,5.455102,4.928000,4.857143,5.914286,2.590569,2.575192,3.186387,3.192146

In [ ]:
## Filtrando as disciplinas de FMC I e FMC II
fmc = disciplinas_bti[disciplinas_bti['nome'] == 'ELEMENTOS DE MATEMÁTICA PARA COMPUTAÇÃO']
fmc = fmc.append(disciplinas_bti[disciplinas_bti['nome'].str.contains('FUNDAMENTOS MATEMÁTICOS DA COMPUTAÇÃO')])
print(fmc.nome.unique())

In [ ]:
fmc1 = fmc[fmc['nome'] == 'ELEMENTOS DE MATEMÁTICA PARA COMPUTAÇÃO']
fmc1 = fmc1.append(fmc[fmc['nome'] == 'FUNDAMENTOS MATEMÁTICOS DA COMPUTAÇÃO I'])
fmc2 = fmc[fmc['nome'] == 'FUNDAMENTOS MATEMÁTICOS DA COMPUTAÇÃO']
fmc2 = fmc2.append(fmc[fmc['nome'] == 'FUNDAMENTOS MATEMÁTICOS DA COMPUTAÇÃO II'])
print(fmc1.codigo.unique())
print(fmc2.codigo.unique())

In [ ]:
turmas_fmc1 = []
for cod in fmc1['id_componente'].unique():
    turmas_fmc1.append(turmas_df[turmas_df['id_componente_curricular'] == cod])
turmas_fmc1 = pd.concat(turmas_fmc1)

In [ ]:
alunos_fmc1 = []
for cod in turmas_fmc1['id_turma'].unique():
    alunos_fmc1.append(mat_comp_bti[mat_comp_bti['id_turma'] == np.int64(cod)])
alunos_fmc1 = pd.concat(alunos_fmc1, keys=turmas_fmc1['id_turma'].unique())
alunos_fmc1.reset_index(inplace=True,level=0)
alunos_fmc1.reset_index(inplace=True,drop='index')
alunos_fmc1.head(2)

In [ ]:
medias = {}
std_dev = {}
for semestre in alunos_fmc1['ano_periodo'].unique():
    semestre_df = alunos_fmc1[alunos_fmc1['ano_periodo'] == semestre]
    medias[semestre] = np.mean(semestre_df['media_final'])
    std_dev[semestre] = np.std(semestre_df['media_final'])
medias_df = pd.DataFrame.from_dict(medias,orient='index')
medias_df.rename(columns={0:'media'},inplace=True)
std_dev_df = pd.DataFrame.from_dict(std_dev,orient='index')
std_dev_df.rename(columns={0:'std_deviation'},inplace=True)
medias_df = pd.concat([medias_df,std_dev_df],axis=1)
medias_df